<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Lineage 2 Confirm</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=1280, maximum-scale=1" />
    <link href="css/css-reset.css" rel="stylesheet" />
    <link href="css/confirm-style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="background"></div>
    <main>
      <div class="container">
        <h1 class="container--title">Confirm Account</h1>
        <div class="container--divider"></div>
        <p class="container--description">
          Your account was confirmed with success, enjoy our server!
        </p>
        <div class="button-container">
          <a href="/" class="back-button">
            <img src="images/confirm-left-arrow.png" alt="Back" />
            Back to homepage</a
          >
          <a href="/login" class="login-button">Login</a>
        </div>
      </div>
    </main>
  </body>
</html>
