<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!--[if lt IE 9
      ]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script
    ><![endif]-->
    <title>Lineage 2 Era of Heroes Website HTML Template</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=1280, maximum-scale=1" />
    <link href="css/css-reset.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
  </head>

  <body>
    <div class="top-panel">
      <div class="logo">
        <a href=""><img src="images/logo5.png" alt="" /></a>
      </div>
      <div class="menu">
        <ul>
          <li><a href="/">Home</a></li>
          <li class="active"><a href="/download">Download files</a></li>
          <li><a href="/register">Register</a></li>
          <li><a href="">About server</a></li>
        </ul>
      </div>
      <div class="login">
        <a href="">Login</a> or <a href="" class="sign">Sign Up</a>
      </div>
    </div>
    <!-- top-panel -->
    <div class="wrapper">
      <main class="content">
        <div class="download">
            <h1>
                <span
                  >
                  <b>Downloads</b></span
                >
              </h1>
            <h2 class="download--subtitle">Patch</h2>

            <div class="download--cards">

                <div class="download--card">
                    <div class="download--card__header">
                        <img src="images/mega-logo.png"></img>
                        <p>Mega</p>

                    </div>
                    <div class="download--card__footer">
                        <a href=""> <i class="fas fa-download"></i> Download</a>
                    </div>
                </div>
                <div class="download--card">
                    <div class="download--card__header">
                        <img src="images/4shared-logo.png"></img>
                        <p>4Shared</p>
                    </div>
                    <div class="download--card__footer">
                        <a href=""> <i class="fas fa-download"></i> Download</a>
                    </div>
                </div>
                <div class="download--card">
                    <div class="download--card__header">
                        <img src="images/mediafire-logo.png"></img>
                        <p>Mediafire</p>

                    </div>
                    <div class="download--card__footer">
                        <a href=""> <i class="fas fa-download"></i> Download</a>
                    </div>
                </div>
            </div>
            <h2 class="download--subtitle">Client</h2>
            <div class="download--cards">

                <div class="download--card">
                    <div class="download--card__header">
                        <img src="images/mega-logo.png"></img>
                        <p>Mega</p>

                    </div>
                    <div class="download--card__footer">
                        <a href=""> <i class="fas fa-download"></i> Download</a>
                    </div>
                </div>
                
            </div>
            
        </div>
      </main>
      <!-- .content -->
      <footer class="footer">
        <div class="f-menu">
          <ul>
            <li><a href="">About</a></li>
            <li><a href="">Terms & Conditions</a></li>
            <li><a href="">Privacy Polity</a></li>
            <li><a href="">User Agreement</a></li>
            <li><a href="">Community</a></li>
          </ul>
        </div>
        <div class="f-info">
          <div class="f-logo">
            <a href=""><img src="images/f-logo.png" alt="" /></a>
          </div>
          <div class="f-text">
            Copyright © 2018. All rights reserved. <br />
            Lineage 2 and all associated logos and designs are trademarks or
            registered trademarks of NCSOFT Corporation. <br />
            All other trademarks or registered trademarks are property of theirs
            respective owners. It's only a Test Server. <br />
            All rights belong to NCSOFT.
          </div>
        </div>
      </footer>
      <!-- .footer -->
    </div>
    <!-- .wrapper -->
  </body>
</html>
