<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <!--[if lt IE 9
      ]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script
    ><![endif]-->
  <title>Lineage 2 Thorin</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=1280, maximum-scale=1" />
  <link href="css/css-reset.css" rel="stylesheet" />
  <link href="css/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
</head>

<body>
  <div class="top-panel">
    <div class="logo">
      <a href="/"><img src="images/logo5.png" alt="" /></a>
    </div>
    <div class="menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/download">Download files</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="">About server</a></li>
      </ul>
    </div>
    <div class="login">
      <a href="">Login</a> or <a href="" class="sign">Sign Up</a>
    </div>
  </div>
  <!-- top-panel -->
  <div class="wrapper">
    <main class="content">
      <section>
        <div id="como-jogar">
          <div class="background"></div>
          <h1>Como jogar</h1>
          <p>Para jogar Lineage 2 Thorin é necessário ter o cliente do jogo, na versão Gracia Final, e o Patch do L2 Thorin. Para obter o cliente Gracia Final, basta utilizar um dos links abaixo. Após baixado, é necessário descompactar o arquivo, e instalar utilizando o executável Setup.exe. Após a instalação, basta colocar o Patch do servidor na pasta onde foi instalado o Lineage 2, por padrão "C:\Program Files (x86)\Lineage II", e descompactar, substituindo todos os arquivos. Para iniciar o jogo é necessário executar o "L2.exe" localizado na pasta System. Caso tenha algum problema, verifique se o Direct X 9.0 está instalado, caso ainda tenha problemas instale os pacotes Microsoft Visual C++.</p>
        </div>
        <div class="download">
          <div id="patch">
          <div class="background"></div>

            <h2 class="download--subtitle">Patch</h2>
            <div class="download--cards">
              <div class="download--card">
                <div class="download--card__header">
                  <a href=""><img src="images/mega-logo.png"></img></a>
                  
                </div>
              </div>
              <div class="download--card">
                <div class="download--card__header">
                  <a href=""><img src="images/drive-logo.png"></img></a>
                  
                </div>
              </div>
              <div class="download--card">
                <div class="download--card__header">
                  <a href=""><img src="images/mediafire-logo.png"></img></a>
                  
                </div>
              </div>
            </div>
            
          </div>
          <div id="client">
          <div class="background"></div>

            <h2 class="download--subtitle">Client</h2>
            <div class="download--cards">
            <div class="download--card">
              <div class="download--card__header">
                <a href="https://mega.nz/file/fYczhAQJ#R8Ai3n0SskdA1zB02qWt1sUxv9mpNsTSy95Zn2uNr7M"><img src="images/mega-logo.png"></img></a>
                
              </div>
            </div>
            <div class="download--card">
              <div class="download--card__header">
                <a href="https://drive.google.com/uc?export=download&id=1QHp78POnBh6xiFYtWg6rddKgqHva7Qcl"><img src="images/drive-logo.png"></img></a>
                
              </div>
            </div>
            <div class="download--card">
              <div class="download--card__header">
                <a href="http://www.mediafire.com/file/6k598oap1s5x9go/CT2.3-Live_152.zip/file"><img src="images/mediafire-logo.png"></img></a>
                
              </div>
            </div>
          </div>

          </div>
      
        </div>

      </section>
    </main>
    <!-- .content -->
    <footer class="footer">
      <div class="f-info">
        <div class="f-logo">
          <a href="/"><img src="images/logo-w.png" alt="" /></a>
        </div>
        <div class="f-text">
          Copyright © 2018. All rights reserved. <br />
          Lineage 2 and all associated logos and designs are trademarks or
          registered trademarks of NCSOFT Corporation. <br />
          All other trademarks or registered trademarks are property of theirs
          respective owners. It's only a Test Server. <br />
          All rights belong to NCSOFT.
        </div>
      </div>
    </footer>
    <!-- .footer -->
  </div>
  <!-- .wrapper -->
</body>

</html>