<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!--[if lt IE 9
      ]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script
    ><![endif]-->
    <title>Lineage 2 Era of Heroes Website HTML Template</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=1280, maximum-scale=1" />
    <link href="css/css-reset.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
  </head>

  <body>
    <div class="top-panel">
      <div class="logo">
        <a href="/"><img src="images/logo5.png" alt=""/></a>
      </div>
      <div class="menu">
        <ul>
          <li class="active"><a href="">Home</a></li>
          <li><a href="/download">Downloads</a></li>
          <li><a href="/register">Register</a></li>
          <li><a href="">About server</a></li>
        </ul>
      </div>
      <div class="login">
        <a href="">Login</a>
      </div>
    </div>
    <!-- top-panel -->
    <div class="wrapper">
      <header class="header">
        <div class="status-block <%=serverStatus.toLowerCase()%>">
          <span><%=serverStatus%></span>
          <%=playersOnline%> Players
        </div>
        <!-- status-block -->
        <!-- era-text -->
      </header>
      <!-- .header-->
      <main class="content">
        <div class="block-info">
          <div class="slider">
            <div class="next"></div>
            <div class="prev"></div>
            <div class="slides">
              <div class="slide active">
                <img src="images/slider-1.png" alt="" />
              </div>
              <div class="slide">
                <img src="images/slider-2.png" alt="" />
              </div>
              <div class="slide">
                <img src="images/slider-3.png" alt="" />
              </div>
            </div>
            <div class="navigation"></div>
          </div>
          <!-- slider -->
          <div class="news-block">
            <div class="tabs">
              <input id="all-news" type="radio" name="tabs" checked />
              <label for="all-news" title="All news">Noticias</label>
              <div id="all-news-content" class="tab">
                <ul>
                  <li>
                    <a href="" title="Special week event!"
                      ><span class="new">[NEW]</span> Special week event!</a
                    >
                    <span class="date">22.10</span>
                  </li>
                  <li>
                    <a
                      href=""
                      title="Bonus start avaiable for new players! Bonus start avaiable for new players! Bonus start avaiable for new players!"
                      ><span class="new">[NEW]</span> Bonus start avaiable for
                      new players! Bonus start avaiable for new players! Bonus
                      start avaiable for new players!</a
                    >
                    <span class="date">22.10</span>
                  </li>
                  <li>
                    <a href="" title="Special boost exp event!"
                      ><span class="new">[NEW]</span> Special boost exp
                      event!</a
                    >
                    <span class="date">22.10</span>
                  </li>
                  <li>
                    <a
                      href=""
                      title="Interlude beta are online for testers players"
                      ><span class="new">[NEW]</span> Interlude beta are online
                      for testers players</a
                    >
                    <span class="date">22.10</span>
                  </li>
                  <li>
                    <a href="" title="Bonification for pre-registers"
                      ><span class="new">[NEW]</span> Bonification for
                      pre-registers</a
                    >
                    <span class="date">22.10</span>
                  </li>
                </ul>
              </div>
              <div id="maintenance-content" class="tab">
                <ul>
                  <li>
                    <a
                      href=""
                      title="Bonus start avaiable for new players! Bonus start avaiable for new players! Bonus start avaiable for new players!"
                      ><span class="new">[NEW]</span> Bonus start avaiable for
                      new players! Bonus start avaiable for new players! Bonus
                      start avaiable for new players!</a
                    >
                    <span class="date">22.10</span>
                  </li>
                  <li>
                    <a href="" title="Special boost exp event!"
                      ><span class="new">[NEW]</span> Special boost exp
                      event!</a
                    >
                    <span class="date">22.10</span>
                  </li>
                  <li>
                    <a href="" title="Special week event!"
                      ><span class="new">[NEW]</span> Special week event!</a
                    >
                    <span class="date">22.10</span>
                  </li>
                  <li>
                    <a
                      href=""
                      title="Interlude beta are online for testers players"
                      ><span class="new">[NEW]</span> Interlude beta are online
                      for testers players</a
                    >
                    <span class="date">22.10</span>
                  </li>
                  <li>
                    <a href="" title="Bonification for pre-registers"
                      ><span class="new">[NEW]</span> Bonification for
                      pre-registers</a
                    >
                    <span class="date">22.10</span>
                  </li>
                </ul>
              </div>
              <div id="updates-content" class="tab">
                <ul>
                  <li>
                    <a href="" title="Special week event!"
                      ><span class="new">[NEW]</span> Special week event!</a
                    >
                    <span class="date">22.10</span>
                  </li>
                  <li>
                    <a
                      href=""
                      title="Interlude beta are online for testers players"
                      ><span class="new">[NEW]</span> Interlude beta are online
                      for testers players</a
                    >
                    <span class="date">22.10</span>
                  </li>
                  <li>
                    <a href="" title="Bonification for pre-registers"
                      ><span class="new">[NEW]</span> Bonification for
                      pre-registers</a
                    >
                    <span class="date">22.10</span>
                  </li>
                  <li>
                    <a
                      href=""
                      title="Bonus start avaiable for new players! Bonus start avaiable for new players! Bonus start avaiable for new players!"
                      ><span class="new">[NEW]</span> Bonus start avaiable for
                      new players! Bonus start avaiable for new players! Bonus
                      start avaiable for new players!</a
                    >
                    <span class="date">22.10</span>
                  </li>
                  <li>
                    <a href="" title="Special boost exp event!"
                      ><span class="new">[NEW]</span> Special boost exp
                      event!</a
                    >
                    <span class="date">22.10</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- news-block -->
        </div>
        <!-- block-info -->
        <div class="block-btn">
          <div class="game-info game">
            <div class="g-text">
              <span class="game-g">RANKING</span>
              <span class="game-t">PVP</span>
              <a href="">GO</a>
            </div>
          </div>
          <div class="game-stats game">
            <div class="g-text">
              <span class="game-g">RANKING</span>
              <span class="game-t"> PK</span>
              <a href="">GO</a>
            </div>
          </div>
          <div class="game-community game">
            <div class="g-text">
              <span class="game-g">SPAWN</span>
              <span class="game-t">RAID BOSS</span>
              <a href="">GO</a>
            </div>
          </div>
        </div>
        <!-- block-btn -->
        <div class="hr"></div>
        <div class="media-block">
          <iframe src="https://discordapp.com/widget?id=682678860680265843&theme=dark" width="350" height="530" allowtransparency="true" frameborder="0"></iframe>
          <div class='fb-insta'>
          <div class="fb-page" data-href="https://www.facebook.com/Lineage-2-Thorin-111756093759041/" data-tabs="" data-width="" data-height="" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/Lineage-2-Thorin-111756093759041/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Lineage-2-Thorin-111756093759041/">Lineage 2 Thorin</a></blockquote></div>
          <iframe src="http://instagram.com/p/B_mWbbVgFrc/embed" width="340" height="380" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
        </div>
        </div>
        <!-- art-block -->
        <div class="feature-block">
          <h1>
            <span
              >Galeria de<br />
              <b>Videos</b></span
            >
          </h1>
          <div id="carousel" class="carousel">
            <button class="arrow prev"></button>
            <div class="gallery">
              <ul class="images">
                <li><div id="ytplayer1"></div></li>
                <li><div id="ytplayer2"></div></li>
              </ul>
            </div>
            <button class="arrow next"></button>
          </div>
        </div>
        <!-- feature-block -->
      </main>
      <!-- .content -->
      <footer class="footer">
        <div class="f-info">
          <div class="f-logo">
            <a href="/"><img src="images/logo-w.png" alt=""/></a>
          </div>
          <div class="f-text">
            Copyright © 2020. All rights reserved. <br />
            Lineage 2 and all associated logos and designs are trademarks or
            registered trademarks of NCSOFT Corporation. <br />
            All other trademarks or registered trademarks are property of theirs
            respective owners. It's only a Test Server. <br />
            All rights belong to NCSOFT.
          </div>
        </div>
      </footer>
      <!-- .footer -->
    </div>
    <!-- .wrapper -->
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/slider.js"></script>
    <script>
      var width = 714;
      var count = 1;

      var carousel = document.getElementById("carousel");
      var list = carousel.querySelector("ul");
      var listElems = carousel.querySelectorAll("li");

      var position = 0;

      carousel.querySelector(".prev").onclick = function() {
        position = Math.min(position + width * count, 0);
        list.style.marginLeft = position + "px";
      };

      carousel.querySelector(".next").onclick = function() {
        position = Math.max(
          position - width * count,
          -width * (listElems.length - count)
        );
        list.style.marginLeft = position + "px";
      };
    </script>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v6.0"></script>
    <script>
      // Load the IFrame Player API code asynchronously.
      var tag = document.createElement('script');
      tag.src = "https://www.youtube.com/player_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    
      // Replace the 'ytplayer' element with an <iframe> and
      // YouTube player after the API code downloads.
      var player1;
      var player2;
      function onYouTubePlayerAPIReady() {
        player1 = new YT.Player('ytplayer1', {
          height: '462',
          width: '710',
          videoId: 'pyN4Sn76mCQ',
          playerVars: { 'autoplay': 0, 'controls': 2, 'modestbranding':1, 'showinfo':0, 'fs':0, 'rel':0, 'start':0}
        });
        player2 = new YT.Player('ytplayer2', {
          height: '462',
          width: '710',
          videoId: '4Khu0MCmWlU',
          playerVars: { 'autoplay': 0, 'controls': 2, 'modestbranding':1, 'showinfo':0, 'fs':0, 'rel':0, 'start':5}
        });

      }
    </script>
  </body>
</html>
