<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!--[if lt IE 9
      ]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script
    ><![endif]-->
    <title>Lineage 2</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=1280, maximum-scale=1" />
    <link href="css/iziModal.min.css" rel="stylesheet" />
    <link href="css/css-reset.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
  </head>

  <body>
    <div class="top-panel">
      <div class="logo">
        <a href=""><img src="images/logo.png" alt=""/></a>
      </div>
      <div class="menu">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="">Download files</a></li>
          <li class="active"><a href="/register">Register</a></li>
          <li><a href="">About server</a></li>
        </ul>
      </div>
      <div class="login">
        <a href="">Login</a> or <a href="" class="sign">Sign Up</a>
      </div>
    </div>
    <!-- top-panel -->
    <div class="wrapper">
      <main>
        <div class="register">
          <% if (locals.success) { %>
          <div class="register--success">
            <h3 class="success--title">Account created successful!</h3>
            <p class="success--description">
              Check your e-mail for account activation.
            </p>
          </div>

          <% } else { %>
          <form action="/register" method="POST">
            <h3 class="form-title">Register Account</h3>
            <div class="input-field">
              <% if(locals.errors) {errors.map(erro => { %>
              <label class="error"><%= erro.msg %> </label>

              <% })} %>
            </div>

            <div class="input-field">
              <label for="name">Name</label>
              <input type="text" id="name" name="name" />
            </div>
            <div class="input-field">
              <label for="email">E-mail</label>
              <input type="text" id="email" name="email" />
            </div>
            <div class="input-field">
              <label for="login">Login</label>
              <input type="text" id="login" name="login" />
            </div>
            <div class="input-field">
              <label for="password">Password</label>
              <input type="password" id="password" name="password" />
            </div>
            <div class="checkbox-field">
              <input
                type="checkbox"
                id="cbx"
                name="terms"
                style="display: none;"
              />
              <label for="cbx" class="check">
                <svg width="18px" height="18px" viewBox="0 0 18 18">
                  <path
                    d="M1,9 L1,3.5 C1,2 2,1 3.5,1 L14.5,1 C16,1 17,2 17,3.5 L17,14.5 C17,16 16,17 14.5,17 L3.5,17 C2,17 1,16 1,14.5 L1,9 Z"
                  ></path>
                  <polyline points="1 9 7 14 15 4"></polyline>
                </svg>
              </label>
              <label class="title"
                >Are you agree with
                <span
                  class="rule-highlight"
                  data-izimodal-open="#modal"
                  data-izimodal-transitionin="fadeInDown"
                  >Terms & Conditions</span
                >?</label
              >
            </div>

            <button type="submit" class="form-button">Create Account</button>
          </form>
          <% } %>
        </div>
        <div id="modal" style="display: none;">
          <h3>Rules</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
            venenatis sagittis mauris a vehicula. Donec sapien nunc, lobortis at
            tempus quis, interdum at sapien. Morbi nec tellus enim. Sed odio
            ligula, rhoncus et tristique nec, laoreet vel metus. In lectus nisl,
            euismod quis dui id, facilisis gravida tellus. Etiam vel purus a
            ipsum porta suscipit ac facilisis est. Pellentesque vehicula in
            augue viverra congue. Nulla iaculis, purus sit amet interdum
            sollicitudin, dolor urna feugiat massa, congue sagittis urna ligula
            vel elit. Sed condimentum sed nisl congue rutrum. Praesent a nibh at
            sapien posuere commodo.
          </p>
        </div>
      </main>
      <footer class="footer">
        <div class="f-menu">
          <ul>
            <li><a href="">About</a></li>
            <li><a href="">Terms & Conditions</a></li>
            <li><a href="">Privacy Polity</a></li>
            <li><a href="">User Agreement</a></li>
            <li><a href="">Community</a></li>
          </ul>
        </div>
        <div class="f-info">
          <div class="f-logo">
            <a href=""><img src="images/f-logo.png" alt=""/></a>
          </div>
          <div class="f-text">
            Copyright © 2018. All rights reserved. <br />
            Lineage 2 and all associated logos and designs are trademarks or
            registered trademarks of NCSOFT Corporation. <br />
            All other trademarks or registered trademarks are property of theirs
            respective owners. It's only a Test Server. <br />
            All rights belong to NCSOFT.
          </div>
        </div>
      </footer>
      <!-- .footer -->
    </div>
    <!-- .wrapper -->
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/iziModal.min.js"></script>
    <script src="js/slider.js"></script>
    <script src="js/modal.js"></script>
  </body>
</html>
