<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!--[if lt IE 9
      ]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script
    ><![endif]-->
    <title>Lineage 2</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=1280, maximum-scale=1" />
    <link href="css/iziModal.min.css" rel="stylesheet" />
    <link href="css/css-reset.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
  </head>

  <body>
    <div class="top-panel">
      <div class="logo">
        <a href=""><img src="images/logo5.png" alt=""/></a>
      </div>
      <div class="menu">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="">Download files</a></li>
          <li class="active"><a href="/register">Register</a></li>
          <li><a href="">About server</a></li>
        </ul>
      </div>
      <div class="login">
        <a href="">Login</a> or <a href="" class="sign">Sign Up</a>
      </div>
    </div>
    <!-- top-panel -->
    <div class="wrapper">
      <main>
        <div class="register">
          <% if (locals.success) { %>
          <div class="register--success">
            <h3 class="success--title">Account created successful!</h3>
            <p class="success--description">
              Check your e-mail for account activation.
            </p>
          </div>

          <% } else { %>
          <form action="/register" method="POST">
            <h3 class="form-title">Register Account</h3>
            <div class="input-field">
              <% if(locals.errors) {errors.map(erro => { %>
              <label class="error"><%= erro.msg %> </label>

              <% })} %>
            </div>

            <div class="input-field">
              <label for="name">Name</label>
              <input type="text" id="name" name="name" />
            </div>
            <div class="input-field">
              <label for="email">E-mail</label>
              <input type="text" id="email" name="email" />
            </div>
            <div class="input-field">
              <label for="login">Login</label>
              <input type="text" id="login" name="login" />
            </div>
            <div class="input-field">
              <label for="password">Password</label>
              <input type="password" id="password" name="password" />
            </div>
            <div class="checkbox-field">
              <input
                type="checkbox"
                id="cbx"
                name="terms"
                style="display: none;"
              />
              <label for="cbx" class="check">
                <svg width="18px" height="18px" viewBox="0 0 18 18">
                  <path
                    d="M1,9 L1,3.5 C1,2 2,1 3.5,1 L14.5,1 C16,1 17,2 17,3.5 L17,14.5 C17,16 16,17 14.5,17 L3.5,17 C2,17 1,16 1,14.5 L1,9 Z"
                  ></path>
                  <polyline points="1 9 7 14 15 4"></polyline>
                </svg>
              </label>
              <label class="title"
                >Are you agree with
                <span
                  class="rule-highlight"
                  data-izimodal-open="#modal"
                  data-izimodal-transitionin="fadeInDown"
                  >Terms & Conditions</span
                >?</label
              >
            </div>

            <button type="submit" class="form-button">Create Account</button>
          </form>
          <% } %>
        </div>
        <div id="modal" style="display: none;">
          <h3 class="title">Terms and Conditions</h3>
          <div class="text">
            <h5 class="subtitle">English</h5>
            <p class="topic">
              1. Players are not allowed to:
            </p>
            <p class="subtopic">
              <strong>1.1</strong>
              Use any kind of tool or 3rd party software (adrenaline, l2control,
              l2walker, l2ranger, l2tower, l2phx, l2net, l2Wx, ACP, hLapex,
              Uopilot, or any other), which allows to automate the game process
              or overcome game client restrictions. This as well concerns
              mouse/keyboard drivers, allowing the character to perform game
              operations while the player is away from PC.
            </p>
            <p class="subtopic">
              <strong>1.1.1</strong>
              Be in one party with a player, who uses 3rd party software. If
              such abuser is detected, the full party will be punished.
            </p>
            <p class="subtopic">
              <strong>1.2</strong> Interfere or mess with client-server data
              packet exchange.
            </p>
            <p class="subtopic">
              <strong>1.3</strong> Take advantage of the server bugs (including
              geodata flaws).
            </p>
            <p class="subtopic">
              <strong>1.3.1</strong> By any means cause game critical errors to
              other players.
            </p>
            <p class="subtopic">
              <strong>1.4</strong> Use ingame nicknames/Titles containing
              offensive/obscene language and nicknames of administration/GMs.
            </p>
            <p class="subtopic">
              <strong>1.5</strong> Advertise other game projects, servers or
              sites, as well as not related to game goods and services, in game
              chats, nicknames, titles.
            </p>
            <p class="subtopic">
              <strong>1.6</strong> Buy, sell or exchange ingame
              goods/adena/accounts for real currencies.
            </p>
            <p class="subtopic">
              <strong>1.7</strong> Buy, sell or exchange game accounts and
              characters.
            </p>
            <p class="subtopic">
              <strong>1.8</strong> Impersonate server Administraiton/GMs or act
              on behalf of server Administration/GMs.
            </p>
            <p class="subtopic">
              <strong>1.9</strong> Insult server Administration or GMs.
            </p>
            <p class="subtopic">
              <strong>1.10</strong> Discuss Administration/GMs' actions in game.
            </p>
            <p class="subtopic">
              <strong>1.11</strong> Ask the administration to interfere with the
              game process in order to correct errors, consciously made by
              players.
            </p>
            <p class="subtopic"><strong>1.12</strong> Any kind of theft.</p>
            <p class="subtopic">
              <strong>1.13</strong> Deliberately use similar game items textures
              as well as nicknames to scam other players.
            </p>
            <p class="subtopic">
              <strong>1.14</strong> Interfere with the other players’ gameplay,
              mechanically restricting their access to locations or NPCs. (for
              example, blocking access to the GC with summons, pets,
              transformations, etc.).
            </p>
            <p class="subtopic">
              <strong>1.15</strong> Violate any of present rules.
            </p>

            <p class="topic">
              2. Players may:
            </p>
            <p class="subtopic">
              <strong>2.1</strong>
              Apply minor modifications to the game client files (as long as it
              doesn’t interfere with gameplay or give significant advantage to
              the player).
            </p>
            <p class="subtopic">
              <strong>2.2</strong>
              Ask questions and/or suggest ideas for server improvement.
            </p>
            <p class="subtopic">
              <strong>2.3</strong> Give access to their account to other
              players. BUT by giving your account to anyone, you take on
              responsibility for everything that may happen to it (scam, ban,
              password change etc).
            </p>

            <p class="topic">
              3. Players must:
            </p>
            <p class="subtopic">
              <strong>3.1</strong>
              Post trade messages in trade chat only.
            </p>
            <p class="subtopic">
              <strong>3.2</strong>
              Report any bug to server Administration/GMs
            </p>
            <p class="subtopic">
              <strong>3.3</strong> Write a ticket to support with “Bot Report”
              title if there is suspicion of third-party software used by
              another player.
            </p>
            <p class="subtopic"><strong>3.4</strong> Abide by these rules.</p>

            <p class="topic">
              4. Players are encouraged to:
            </p>
            <p class="subtopic">
              <strong>4.1</strong>
              Play.
            </p>
            <p class="subtopic">
              <strong>4.2</strong>
              Play fair.
            </p>
            <p class="subtopic">
              <strong>4.3</strong> Respect other players, Administration and
              GMs.
            </p>
            <p class="subtopic">
              <strong>4.4</strong> Report players violating these rules to
              Administration/GMs.
            </p>
            <p class="subtopic">
              <strong>4.5</strong> Actively participate in project life and
              development.
            </p>

            <p class="topic">
              5. Prescribed penalties:
            </p>
            <p class="subtopic">
              Punishment is defined by the administrator or GM depending on the
              gravity of the violation as well as previous penalties of every
              specific player. Attention! In case of a repeat violation
              punishment will be severe. Administration retains the right to
              permanently ban players in special cases.
            </p>

            <p class="single-topic">
              6. Rules may be changed by Administration at any time without
              notice.
            </p>
            <p class="single-topic">
              7. Lack of knowledge of these rules does not free the player from
              responsibility in any way.
            </p>

            <h5 class="subtitle">Português</h5>
            <p class="topic">
              1. Os jogadores são proibidos de:
            </p>
            <p class="subtopic">
              <strong>1.1</strong>
              Usar qualquer tipo de ferramenta ou softwares de terceiros
              (adrenaline, l2control, l2walker, l2ranger, l2tower, l2phx, l2net,
              l2Wx, ACP, hLapex, Uopilot, or any other), que permitem
              automatizar ações no jogo or quebrar restrições no cliente do
              jogo. Isso também incluiu ferramentas de mouse/teclado que
              permitam que o personagem realize ações quando o jogador não está
              presente no computador.
            </p>
            <p class="subtopic">
              <strong>1.1.1</strong>
              Estar em um grupo(party) com outro jogador, que usa softwares de
              terceiros. Se tal situação for detectada, o grupo inteiro será
              punido.
            </p>
            <p class="subtopic">
              <strong>1.2</strong> Interferir ou alterar com a troca de pacotes
              entre cliente-servidor.
            </p>
            <p class="subtopic">
              <strong>1.3</strong> Tomar vantagem dos bugs do servidor
              (incluindo falhas no geodata ).
            </p>
            <p class="subtopic">
              <strong>1.3.1</strong> Por quaisquer meios causar "Critical Erros"
              no cliente de outros jogadores.
            </p>
            <p class="subtopic">
              <strong>1.4</strong> Usar apelidos(nicknames)/títulos(titles)
              dentro de jogo contendo linguagem ofensiva/obscena, e qualquer
              conteudo que infira que o jogador faz parte da administração do
              servidor.
            </p>
            <p class="subtopic">
              <strong>1.5</strong> Fazer propaganda de outros servidores, jogos,
              ou sites, ou qualquer tipo de conteúdo não relacionado ao jogo,
              seja por meio o chat, apelido, título, etc.
            </p>
            <p class="subtopic">
              <strong>1.6</strong> Comprar, vender ou trocar itens de dentro do
              jogo por dinheiro.
            </p>
            <p class="subtopic">
              <strong>1.7</strong> Comprar, vender ou trocar contas e
              persnagens.
            </p>
            <p class="subtopic">
              <strong>1.8</strong> Impersonar os ADM/GM's do servidor ou agir em
              nome dos administradores do servidor.
            </p>
            <p class="subtopic"><strong>1.9</strong> Insultar ADM/GM's.</p>
            <p class="subtopic">
              <strong>1.10</strong> Discutir as ações dos ADM/GM's dentro de
              jogo.
            </p>
            <p class="subtopic">
              <strong>1.11</strong> APedir para a administração interferir no
              jogo, com o objetivo de corrigir erros intencionalmente causados
              pelo jogador.
            </p>
            <p class="subtopic">
              <strong>1.12</strong> Qualquer tipo de roubo.
            </p>
            <p class="subtopic">
              <strong>1.13</strong> Deliberadamente usar itens com textura
              semelhante ou apelidos para enganar outros jogadores.
            </p>
            <p class="subtopic">
              <strong>1.14</strong> Interferir na jogabilidade de outros
              jogadores, restringindo fisicamente o acesso a NPCs e áreas. (por
              exemplo, bloqueando o acesso a NPCs com summons, pets,
              transformations, etc.).
            </p>
            <p class="subtopic">
              <strong>1.15</strong> Violar qualquer das regras presentes.
            </p>

            <p class="topic">
              2. Os jogadores podem:
            </p>
            <p class="subtopic">
              <strong>2.1</strong>
              Fazer modificações nos arquivos do jogo contanto que não altere a
              jogabilidade ou dê vantagem significativa ao jogador.
            </p>
            <p class="subtopic">
              <strong>2.2</strong>
              Fazer perguntas e/ou sugerir ideias para melhoramento do servidor.
            </p>
            <p class="subtopic">
              <strong>2.3</strong> Dar acesso a sua conta para outros jogadoes,
              MAS ao fazer o jogador toma responsabilidade de qualquer coisa que
              possa acontecer com a conta(roubo, uso de ferramentas ilegais, e
              qualquer violação de regras).
            </p>

            <p class="topic">
              3. Os jogadores devem:
            </p>
            <p class="subtopic">
              <strong>3.1</strong>
              Postar trocas/vendas apenas no chat de trade.
            </p>
            <p class="subtopic">
              <strong>3.2</strong>
              Relatar quaisquer bugs do servidor aos ADM/GM's.
            </p>
            <p class="subtopic">
              <strong>3.3</strong> Escrever um ticket para suporte com o título
              "Bot Report" se houver suspeita de software de terceiros usado por
              outro jogador.
            </p>
            <p class="subtopic"><strong>3.4</strong> Acatar às regras.</p>

            <p class="topic">
              4. Players são encorajados a:
            </p>
            <p class="subtopic">
              <strong>4.1</strong>
              Jogar.
            </p>
            <p class="subtopic">
              <strong>4.2</strong>
              Jogar justamente.
            </p>
            <p class="subtopic">
              <strong>4.3</strong> Respeitar outros jogadores, Admin e GMs.
            </p>
            <p class="subtopic">
              <strong>4.4</strong> Reportar um player violando as regras para
              Admin/ GMs.
            </p>
            <p class="subtopic">
              <strong>4.5</strong> Participar ativamente da vida e
              desenvolvimento do projeto.
            </p>

            <p class="topic">
              5. Penalidades:
            </p>
            <p class="subtopic">
              A punição é definida pelo administrador ou GM, dependendo da
              gravidade da violação, bem como das punições anteriores de cada
              jogador. Atenção! Em caso de violação repetida, a punicão será
              severa. A administração se reserva o direito de banir
              permanentemente os jogadores em casos especiais.
            </p>

            <p class="single-topic">
              6. As regras podem ser alteradas pela administração a qualquer
              momento, sem aviso prévio.
            </p>
            <p class="single-topic">
              7. A falta de conhecimento às regras não livra o jogador da
              responsabilidade em hipótese alguma.
            </p>
          </div>
        </div>
      </main>
      <footer class="footer">
        <div class="f-menu">
          <ul>
            <li><a href="">About</a></li>
            <li><a href="">Terms & Conditions</a></li>
            <li><a href="">Privacy Polity</a></li>
            <li><a href="">User Agreement</a></li>
            <li><a href="">Community</a></li>
          </ul>
        </div>
        <div class="f-info">
          <div class="f-logo">
            <a href=""><img src="images/f-logo.png" alt=""/></a>
          </div>
          <div class="f-text">
            Copyright © 2018. All rights reserved. <br />
            Lineage 2 and all associated logos and designs are trademarks or
            registered trademarks of NCSOFT Corporation. <br />
            All other trademarks or registered trademarks are property of theirs
            respective owners. It's only a Test Server. <br />
            All rights belong to NCSOFT.
          </div>
        </div>
      </footer>
      <!-- .footer -->
    </div>
    <!-- .wrapper -->
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/iziModal.min.js"></script>
    <script src="js/slider.js"></script>
    <script src="js/modal.js"></script>
  </body>
</html>
